/* spinner.module.css */
@value default-spinner-border-width: 3px;
@value default-spinner-border-style: solid;
@value default-spinner-width: 2rem;
@value default-spinner-height: 2rem;
@value primary-border-color: currentColor;
@value default-border-color: transparent;

.spinner {
  animation: spin var(--spinner-animation-duration) linear infinite;
  border-color: var(--spinner-scheme, primary-border-color);
  border-radius: 50%;
  border-top-color: default-border-color;
  border-width: var(--spinner-border-width, default-spinner-border-width);
  display: inline-block;
  width: default-spinner-width;
  height: default-spinner-height;
}

.sm {
  width: 1rem;
  height: 1rem;
}

.md {
  width: default-spinner-width;
  height: default-spinner-height;
}

.lg {
  width: 3rem;
  height: 3rem;
}

.solid {
  composes: spinner;
  border-style: solid;
}

.dashed {
  composes: spinner;
  border-style: dashed;
}

.dotted {
  composes: spinner;
  border-style: dotted;
}

.double {
  composes: spinner;
  border-style: double;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
