@import './reset.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

div.sbdocs-wrapper {
  justify-content: flex-start;
  gap: 5rem;
}

div.container {
  margin-left: 2rem;
}

h1.sbdocs-title {
  text-decoration-color: #34d399;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-underline-offset: .5rem;
}
