/* button.module.css */
@value button-padding: 0.5rem 1rem;
@value button-border-radius: 0.5rem;
@value button-border: none;
@value outline-width: 2px;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: button-border;
  outline: none;
  font-weight: 600;
  transition:
    color 0.3s,
    background-color 0.3s;
  padding: button-padding;
  border-radius: button-border-radius;
  background-color: transparent;
}

.sm {
  padding: 0.25rem 0.5rem;
}

.md {
  padding: button-padding;
}

.lg {
  padding: 0.75rem 1.5rem;
}

.rounded {
  border-radius: button-border-radius;
}

.pill {
  border-radius: 9999px;
}

.solid {
  composes: button;
  background-color: var(--button-scheme);
  color: var(--button-text-color);
}

.outline {
  composes: button;
  border: 1px solid var(--button-scheme);
  color: var(--button-scheme);
}

.ghost {
  composes: button;
  color: var(--button-scheme);
}

.link {
  composes: button;
  color: var(--button-scheme);
  text-decoration-line: underline;
  text-underline-offset: 0.5rem;
}

.icon {
  composes: button;
  color: var(--button-scheme);
  padding: 0.25rem;
}

:is(.icon, .link):enabled:hover {
  color: var(--button-hover-color);
}

:is(.outline, .ghost):enabled:hover {
  background-color: var(--button-hover-alt-color);
}

.solid:enabled:hover {
  background-color: var(--button-hover-color);
}

.outline:enabled:hover {
  border-color: var(--button-hover-color);
}

.link:enabled:hover {
  text-decoration-color: var(--button-hover-color);
  text-decoration-thickness: 2px;
}

.button:enabled:focus {
  outline: outline-width solid var(--button-focus-alt-color);
  outline-offset: outline-width;
}

:is(.outline, .ghost):enabled:active {
  background-color: var(--button-focus-alt-color);
}

:is(.icon, .link):enabled:active {
  color: var(--button-focus-color);
}

.solid:enabled:active {
  background-color: var(--button-focus-color);
}

.link:enabled:active {
  text-decoration-color: var(--button-focus-color);
  text-decoration-thickness: 2px;
}

button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.iconMargin {
  margin: 0 0.25rem;
}

.hidden {
  display: none;
}

.spinnerMargin {
  margin-left: 0.25rem;
}
